html{ font-size: 100px; }
body{ font-size: 0.14rem; font-family: "Microsoft YaHei";}
header{  background: -webkit-linear-gradient(#fff,#efefef); position: relative; padding:0.3rem 0; }
header h1{ height: 0.39rem; font-size: 0.3rem; color: #333; margin: 0 auto; text-align: center; font-weight: normal;}
header .a1{ background: url(../img/fanhui.png) no-repeat; background-size: cover; width: 1.22rem; height: 0.58rem; position: absolute; left: 0.22rem; top: 0.22rem; }

.new{ width: 100%; line-height: 0.88rem; background: #f8f8f8; padding: 0 0.98rem 0 0.22rem; }
.new i{ width: 0.23rem; height: 0.26rem; background: url(../img/dingwei.png) no-repeat; background-size: cover; display: inline-block; margin-top: 0.3rem; }
.new p{ margin: 0 2.3rem 0 0.22rem; font-size: 0.3rem;}
.new span{ color: #324f85; font-size: 0.24rem; }

section dl dt{ width: 100%; line-height: 0.6rem; background: #eee; color: #999; padding-left: 0.22rem; font-size: 0.26rem;  }
section dl dd{ border-top: 0.01rem solid #efefef; line-height: 0.88rem; background: #f8f8f8; padding-left: 0.6rem; font-size: 0.3rem;}

